/* COLOURS */
$alpha-color: #1566ef;
$bravo-color: #174eaa;
$charlie-color: #133052;
$delta-color: #ff9900;
$body-color: #133052;
$color1: #82a6be;
$color2: #92a1a6;
$dark-gray: #272626;
$gray: #8E8E8E;
$medium-gray: #92A1A6;
$light-gray: #f1f1f1;


/* MEDIA QUERIES */
$xl-max: 1199.98px;
$xl-min: 1200px;
$lg-max: 991.98px;
$lg-min: 992px;
$md-max: 800px;
$md-min: 799px;  
$sm-max: 575.98px;
$sm-min: 576px;
$xs-max: 413.98px;
$xs-min: 414px;
$ss-max: 320px;

/* DEVICES */
$laptop-max: 1336px;